@tailwind base
@tailwind components

@require './config'
@require './nprogress'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'


.button
    @apply bg-purple-400 inline-block text-white font-bold py-2 px-4 border-b-4 border-purple-700 cursor-pointer

.subtitle
    @apply text-shadow-700 text-purple-400

.heading
    @apply text-2xl uppercase text-white no-underline
    border none

.status-bubble
    @apply rounded-full px-2 leading-none text-gray-200 uppercase font-bold border border-transparent;

.label
    @apply text-gray-800 font-semibold

.intro
    background-image url("../../../../assets/background/turmoil.jpg")
    background-position 0 60%
    background-size cover
.clipped
    clip-path: polygon(0% 2rem, 2rem 0%, calc(100% - 2rem) 0%, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 2rem 100%, 0% calc(100% - 2rem))
.clipped-right
    clip-path: polygon(0% 0%, 2rem 0%, calc(100% - 2rem) 0%, 100% 2rem, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0 100%)
.bg-blur
    backdrop-filter: blur(5px) opacity(80%);
.card
    @apply bg-gray-faded-700 my-4 text-left clipped pb-8 bg-blur
    background-image radial-gradient(circle at bottom, var(--color-purple-faded-700) 0%, transparent 70%)
.title
    @apply relative
    &::before
        @apply absolute top-0 w-full h-full clipped-right bg-blur
        content ""
        left 3rem
        background-image radial-gradient(circle at bottom left, var(--color-purple-faded-700) 0%, transparent 70%)

@tailwind utilities

.text-shadow-700
    text-shadow 0 1px 1px rgba(16.1%, 16.1%, 16.1%, 0.75)

html, body
    padding 0
    margin 0

body
    font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-size 16px
    color var(--color-text-base)
    background-color var(--color-background-base)
    overflow-x hidden

.container
    margin 0 auto
    max-width $contentWidth

.page
    padding-left $sidebarWidth

.navbar
    position fixed
    z-index 20
    top 0
    left 0
    right 0
    height $navbarHeight
    background-color var(--color-background-base)
    box-sizing border-box
    border-bottom 1px solid $borderColor

.sidebar-mask
    position fixed
    z-index 9
    top 0
    left 0
    width 100vw
    height 100vh
    display none

.sidebar
    font-size 15px
    background-color #fff
    width $sidebarWidth
    position fixed
    z-index 10
    margin 0
    top $navbarHeight
    left 0
    bottom 0
    box-sizing border-box
    border-right 1px solid $borderColor
    overflow-y auto

.content
    p, ul
        margin 1em 0

.content:not(.custom)
    @extend $wrapper
    > *:first-child
        margin-top $navbarHeight
    a:hover
        text-decoration underline
    p.demo
        padding 1rem 1.5rem
        border 1px solid #ddd
        border-radius 4px
    img
        max-width 100%

.content.custom
    padding 0
    margin 0
    img
        max-width 100%

a
    font-weight 500
    color $accentColor
    text-decoration none

p a code
    font-weight 400
    color $accentColor

kbd
    background #eee
    border solid 0.15rem #ddd
    border-bottom solid 0.25rem #ddd
    border-radius 0.15rem
    padding 0 0.15em

blockquote
    font-size 1.2rem
    color #999
    border-left .25rem solid #dfe2e5
    margin-left 0
    padding-left 1rem

ul, ol
    padding-left 1.2em

strong
    font-weight 600

h1, h2, h3, h4, h5, h6
    font-weight 600
    line-height 1.25
    .content:not(.custom) > &
        margin-top (0.5rem - $navbarHeight)
        padding-top ($navbarHeight + 1rem)
        margin-bottom 0
        &:first-child
            margin-top -1.5rem
            margin-bottom 1rem
            + p, + pre, + .custom-block
                margin-top 2rem
    &:hover .header-anchor
        opacity: 1

h1
    font-size 2.2rem

h2
    font-size 1.65rem
    padding-bottom .3rem
    border-bottom 1px solid $borderColor

h3
    font-size 1.35rem

a.header-anchor
    font-size 0.85em
    float left
    margin-left -0.87em
    padding-right 0.23em
    margin-top 0.125em
    opacity 0
    &:hover
        text-decoration none

code, kbd, .line-number
    font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
    line-height 1.7

hr
    border 0
    border-top 1px solid $borderColor

table
    border-collapse collapse
    margin 1rem 0
    display: block
    overflow-x: auto

tr
    border-top 1px solid #dfe2e5
    &:nth-child(2n)
        background-color #f6f8fa

th, td
    border 1px solid #dfe2e5
    padding .6em 1em

.custom-layout
    padding-top $navbarHeight

.theme-container
    &.sidebar-open
        .sidebar-mask
            display: block
    &.no-navbar
        .content:not(.custom) > h1, h2, h3, h4, h5, h6
                margin-top 1.5rem
                padding-top 0
        .sidebar
            top 0
        .custom-layout
            padding-top 0


@media (min-width: ($MQMobile + 1px))
    .theme-container.no-sidebar
        .sidebar
            display none
        .page
            padding-left 0

.break-out-full-width, .break-out-page-width
    position relative
    left 50%
    transform translateX(-50%)

.break-out-full-width
    width 100vw

.break-out-page-width
    width calc(100vw - 22em)

.transition
    transition all .25s ease

@require './mobile'